{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
Matches List | BetPoll
{% endblock %}

{% block page_title %}Matches{% endblock %}

{% block content %}
<div id="matches">
    {% for match in matches %}
    <div class="card">
        <div class="card-body shadow-lg bg-white rounded">
            <h2 class="card-title m-0">{{match.game}} Match</h2>
            <p class="card-text"><small class="text-muted" id="created_date">{{match.created_at}}</small></p>
            <h5 class="card-text">{{match.match_desc}}</h5>
            <p class="card-text text-muted"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{match.user}}</p>
            <a href="/matches/{{match.id}}" style="color: #7B6FB0;">View match<i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block auth_button %}
<div class="d-flex justify-content-around align-items-center">
    <button class="btn mr-2 voted_matches_button" style="background-color: #d18eed"
        onclick="window.open('/matches/votedmatches', '_self')">
        Voted Matches
    </button>
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button class="btn red lighten-1 logout_button" type="submit" id="logout_btn">Logout</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}