{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
Matches List | BetPoll
{% endblock %}

{% block page_title %}Matches{% endblock %}

{% block content %}
<div id="matches">
    {% for match in matches %}
    <div class="card">
        <div class="card-body shadow-lg bg-white rounded">
            <h2 class="card-title m-0">{{match.game}} Match</h2>
            <p class="card-text"><small class="text-muted" id="created_date">{{match.created_at}}</small></p>
            <h5 class="card-text">{{match.match_desc}}</h5>
            <p class="card-text text-muted"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{match.user}}</p>
            <a href="/matches/{{match.id}}" style="color: #7B6FB0;">View match<i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block auth_button %}

<form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button class="btn red lighten-1 ml-auto" type="submit" id="logout_btn">Logout</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    window.onload = () => {
        let date = document.getElementById('created_at').innerHTML;
        date = moment(date);
        document.getElementById('created_at').innerHTML = date.fromNow();
    }
</script>
{% endblock %}